.boldfolio-details div {
	font-family: "Roboto Mono", monospace;
	line-height: 1.4;
	.views-label {
		font-weight: 700;
	}
	.views-field {
		display: inline-block;
		margin-right: 1rem;
	}
	.field-content {
		display: inline;
	}
}
