a.boldfolio-button,
input:is([type="submit"], [type="reset"]),
button {
	box-sizing: border-box;
	border: var(--border-default);
	background-color: var(--color-background);
	border-radius: 2px;
	padding: 0.5em 0.5em 0.4em;
	line-height: 1;
	font-weight: 700;
	color: var(--color-text);
	text-decoration: none;
	transition: .4s ease-out;
	&:hover,
	&:active {
		background-color: var(--color-highlight);
		box-shadow: none;
	}
	&::before {
		content: none;
	}
}

.boldfolio-buttons:not(.boldfolio-local-tasks) {
  margin-top: var(--margin);
}

.boldfolio-buttons ul:not(.contextual-links) {
	list-style: none;
	margin: var(--margin-l) 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: var(--margin-xs);
	box-sizing: border-box;
	line-height: 2;
	a {
		line-height: 1.2;
		transition: .4s ease-out;
		font-family: var(--font-mono);
		font-weight: 400;
		background-color: var(--color-text);
		color: var(--color-background);
		padding: 0.25em 0.5em;
		text-decoration: underline;
		text-underline-offset: 2px;
		&:hover,
		&:active {
			color: var(--color-highlight);
			text-decoration: none;
		}
		&::before {
			content: none;
		}
	}
}
