a.boldfolio-button,
input:is([type="submit"], [type="reset"]),
button {
	box-sizing: border-box;
	border: var(--button--border);
	background-color: var(--button--bkg-color);
	border-radius: 2px;
	padding: 0.5em 0.5em 0.4em;
	line-height: 1;
	font-weight: 500;
	color: var(--button--text-color);
	text-decoration: none;
	transition: .4s ease-out;
	&:hover,
	&:active {
		background-color: var(--button--hover--bkg-color);
		box-shadow: none;
	}
	&::before {
		content: none;
	}
}
