.boldfolio-featured-footer {
	border-top: 3px solid var(--color-dark);
	padding: 2rem;
	clear: both;
}

footer[role="contentinfo"] {
	padding: 2rem;
	font-family: "Roboto Mono", monospace;
	font-weight: 700;
	font-style: normal;
  background-color: var(--color-highlight);
	a {
		transition: color .5s ease-out;
		text-decoration: underline;
		&:hover {
			color: var(--color-alternate);
		}
	}
}
