input:not([type="image"], [type="range"], [type="checkbox"], [type="radio"], [type="file"], [type="submit"], [type="reset"]), textarea {
	border: var(--border-default);
	padding: 0.5em 0.5em 0.4em;
	&:focus {
		outline: none;
		background-color: var(--color-highlight);
	}
}

input, button {
	font-family: var(--font-default);
	font-size: 1em;
}

.bef-exposed-form label,
.form-item label {
	font-family: var(--font-mono);
	font-weight: 700;
	font-style: normal;
}

.form-item label {
	display: block;
	margin-bottom: var(--margin-xs);
}

.form-item {
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

/* Search form */
.search-block-form form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: var(--margin);
	margin-bottom: var(--margin);
	gap: var(--margin-xs);
	.form-item {
		margin: 0;
	}
	input {
		line-height: unset;
	}
}
