header.boldfolio-site-header {
	font-size: 1.1rem;
	line-height: 1;
	color: var(--header--text-color);
	.boldfolio-site-name a {
		color: var(--header--link--text-color);
		text-decoration: none;
		font-size: 2.25rem;
		font-weight: 700;
		transition: .4s ease-out;
		&::before {
			content: none;
		}
		&:hover, &:active {
			color: var(--header--link-hover--text-color);
		}
	}
	.boldfolio-site-logo {
		margin-bottom: var(--margin);
	}
	.boldfolio-site-slogan {
		background-color: var(--header--slogan--bkg-color);
		display: inline-block;
		padding: var(--margin-xs);
		margin-top: var(--margin-xs);
		margin-bottom: 0;
		font-family: var(--header--slogan--font);
		@media (min-width: 600px) {
			margin-bottom: var(--margin);
		}
	}
}
