nav#block-boldfolio-main-menu ul:not(.contextual-links) {
	list-style: none;
	padding: 0;
	margin: 1rem 0 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	box-sizing: border-box;
	@media (min-width: 600px) {
		justify-content: flex-end;
		margin: 1rem 0;
	}
	a {
		border: 3px solid var(--color-dark);
		border-radius: 2px;
		padding: 0.5em 0.5em 0.4em;
		line-height: 1;
		font-weight: 700;
		color: var(--color-text);
		text-decoration: none;
		transition: .4s ease-out;
		&:hover,
		&:active {
			background-color: var(--color-highlight);
		}
		&::before {
			content: none;
		}
		&.is-active {
			background-color: var(--color-highlight);
		}
	}
}
