@layer component.menu {
  .boldfolio-menu li {
    margin: var(--margin-s) 0;
  }
  .bf-menu--level-1>ul>li {
    &>a, &.bf-menu-item--nolink span {
      font-weight: bold;
      font-size: clamp(1.1rem, 6vw, 1.3rem);
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .bf-menu--toggle, .nav--primary--toggle, .nav--secondary--toggle {
    font-weight: 500;
    transition: .2s ease-out;
		border: 0;
    background-color: transparent;
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      color: var(--nav--active-color);
      background-color: transparent;
    }
  }

  .bf-menu--toggle {
    display: none;
    svg {
      transition: transform 1s;
    }
    &[aria-expanded="true"] svg {
      transform: rotate(405deg);
    }
  }

  .nav--primary--toggle {
    padding: var(--margin-s) 0;
    font-size: 1.5em;
  }

  .bf-menu--level-2>.bf-menu-item--container {
    padding-left: var(--margin-s);
  }
}
