
.boldfolio-view-rows {
	margin-bottom: var(--margin-l);
}

/* Responsive Grid */
.views-view-responsive-grid__item-inner,
.views-view-responsive-grid__item-inner>article {
	height: 100%;
}

.boldfolio-view-rows .views-row {
	margin-bottom: var(--margin);
}

/* Views Exposed Form */
.boldfolio-minipager ul,
.more-link {
	font-family: var(--font-mono);
	font-weight: 700;
	font-size: 1.8rem;
	font-size: clamp(1.3rem, 6vw, 1.8rem);
	margin: var(--margin-l) 0 0;
}

.more-link {
	text-align: right;
}

.boldfolio-minipager ul {
	display: flex;
	padding: 0;
	list-style: none;
	li {
		flex: 1 0 auto;
	}
	.boldfolio-minipager-next {
		text-align: right;
	}
}
