[data-theme="seafoam"] {
	/* Seafoam color theme */
	--color-text: #5E6973;
	--color-highlight: #7CFFC4;
	--color-background: #EBFFFE;
	--color-text-alt: #6ABEA7;
}

[data-theme="barbie"] {
	/* Barbie theme */
	--color-text: #FB6F92;
	--color-highlight: #48cae4;
	--color-background: white;
	--color-text-alt: #FFC2D1;
}
