.boldfolio-featured-footer {
	border-top: var(--border-default);
	padding: var(--margin-l) 0;
	margin-bottom: var(--margin-l);
	clear: both;
}

footer[role="contentinfo"] {
	padding: var(--margin-l) 0;
	font-family: var(--font-mono);
	font-weight: 700;
	font-style: normal;
	background-color: var(--color-highlight);
	a {
		transition: color .5s ease-out;
		text-decoration: underline;
		&:hover {
			color: var(--color-text-alt);
		}
	}
}
