.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 600px) {
	.alignleft {
		float: left;
		margin-right: 2rem;
		margin-top: 0;
	}
	.alignright {
		float: right;
		margin-left: 2rem;
		margin-top: 0;
	}
}
.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: calc(100vw - 10px);
}
.alignfull img {
  width: 100%;
}

.wp-block-buttons,
.wp-block-code,
.wp-block-gallery,
.wp-block-image {
	margin-bottom: 2rem;
	clear: both;
	&:not(.alignleft, .alignright) {
		margin-top: 2rem;
	}
}

/* Buttons */
.wp-block-buttons {
  display: flex;
  gap: 10px;
}

.wp-block-buttons>.wp-block-button .wp-block-button__link,
.wp-block-button .wp-block-button__link {
	box-sizing: border-box;
	border: 3px solid var(--color-dark);
	border-radius: 2px;
	padding: 0.5em 0.5em 0.4em;
	line-height: 1;
	font-weight: 700;
	color: var(--color-light);
	background-color: var(--color-dark);
	text-decoration: none;
	transition: .4s ease-out;
	&:hover,
	&:active {
		background-color: var(--color-alternate);
		border-color: var(--color-alternate);
	}
	&::before {
		content: none;
	}
}

.wp-block-button.is-style-outline .wp-block-button__link,
.wp-block-buttons>.wp-block-button.is-style-outline .wp-block-button__link {
	color: var(--color-text);
	&:hover,
	&:active {
		background-color: var(--color-highlight);
		border-color: revert;
	}
}

/* Code */
.wp-block-code {
	background-color: var(--color-dark);
	color: var(--color-light);
	padding: 0.5rem;
	border: 0;
}

/* Gallery */
.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
	display: flex;
}

.wp-block-gallery {
	gap: 1em;
	.wp-block-image {
		flex-grow: 1;
		width: 33%;
	}
	&.columns-2>.wp-block-image {
		width: 50%;
	}
}

/* Group */
.wp-block-group > .wp-block-group__inner-container > *:not(.entry-content) {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group > .wp-block-group__inner-container > .alignwide {
  max-width: 1070px;
}

.wp-block-group > .wp-block-group__inner-container > .alignfull {
  max-width: 100%;
}

.wp-block-group.has-background
  > .wp-block-group__inner-container
  > :first-child {
  margin-top: 0;
}

.wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
  width: calc(100% + 60px);
  max-width: calc(100% + 60px);
  position: relative;
  left: -30px;
}

/* Image */
.wp-block-image img {
  display: block;
}

.wp-block-image.alignleft {
  width: 100%;
}

.wp-block-image.alignright {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .wp-block-image.alignleft {
    width: auto;
  }

  .wp-block-image.alignright {
    width: auto;
  }
}

.wp-block-image.alignfull img {
  width: 100vw;
}

.wp-block-image .alignleft img,
.wp-block-image .alignright img,
.wp-block-image .alignleft figcaption,
.wp-block-image .alignright figcaption {
  max-width: 100%;
  width: 100%;
}

/* Seperator */
.wp-block-separator {
	clear: both;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
