@layer layout {
	.maintenance-page {
		padding: var(--padding-content) 0;
	}

	.region-header,
	.region-footer,
	.region-featured-footer,
	.layout-container,
	.nav--banner--container,
	.nav--banner .bf-menu--level-2>.bf-menu-item--container {
		max-width: var(--width-max);
		margin: 0 auto;
		padding-left: var(--padding-content);
		padding-right: var(--padding-content);
	}

	.region-header {
		margin-top: var(--margin);
	}

	.layout-container {
		margin-bottom: var(--margin-xl);
	}

	main.main--has-sidebar,
	body:not(.path-frontpage).is-node main {
		@media screen and (min-width: 800px) {
			display: grid;
			grid-template-columns: minmax(400px,var(--width-content)) 1fr;
			grid-template-rows: auto auto;
			gap: var(--margin);
			grid-template-areas:
				"header header"
				"content sidebar";
		}
	}

	.boldfolio-content-header {
		grid-area: header;
	}

	.layout-content {
		grid-area: content;
	}

	.boldfolio-sidebar {
		grid-area: sidebar;
	}

	a#main-content {
		position: absolute;
	}

	@keyframes menu-toggle {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(135deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
}
