.maintenance-page {
	padding: var(--content-padding) 0;
}

.page-container, .region-footer, .region-featured-footer {
	max-width: 1500px;
	margin: 0 auto;
	padding-left: var(--content-padding);
	padding-right: var(--content-padding);
}

.page-container {
	margin-bottom: 4rem;
}

.views-view-responsive-grid__item-inner,
.views-view-responsive-grid article {
	height: 100%;
}

.boldfolio-view-rows .views-row {
	margin-bottom: 1rem;
}

.boldfolio-two-column {
	padding-left: var(--content-padding);
	padding-right: var(--content-padding);
	@media screen and (min-width: 800px) {
		display: grid;
		grid-template-columns: minmax(200px, 400px) minmax(200px, 800px);
		gap: 1em;
		.boldfolio-sidebar-region {
			.boldfolio-mono {
				display: block;
				margin-bottom: 0.5em;
			}
		}
		.boldfolio-main-region {
			p:first-child {
				margin-top: 0;
			}
		}
	}
}
