header.boldfolio-site-header,
.boldfolio-breadcrumbs-area,
.boldfolio-content-header,
.layout-content {
	padding: 0 2rem;
}

.boldfolio-list .boldfolio-view-rows {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 0.5rem;
	article {
		box-sizing: border-box;
		height: 100%;
	}
	.contextual {
		position: absolute;
	}
}

.boldfolio-grid .boldfolio-view-rows {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0.5rem;
		article {
			box-sizing: border-box;
			height: 100%;
		}
		.contextual {
			position: absolute;
		}
	}

@media (min-width: 600px) {
	.boldfolio-grid .boldfolio-view-rows {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1200px) {
	.boldfolio-grid .boldfolio-view-rows {
		grid-template-columns: repeat(3, 1fr);
	}
}

main+:where(footer, .boldfolio-featured-footer) {
	margin-top: 4rem;
}

