.boldfolio-width-text {
  max-width: var(--width-content);
}

.boldfolio-width-max {
  max-width: var(--width-max);
}

.boldfolio-node-header {
  line-height: 1.4;
  clear: both;
  .boldfolio-field {
    padding: 0.25em 0.5em;
  }
}

.boldfolio-node-footer {
	margin-top: var(--margin-l);
	line-height: 1.4;
  clear: both;
}

.boldfolio-mono {
  font-family: var(--font-mono);
  font-weight: 400;
  line-height: 1.4;
  margin-right: var(--margin);
  display: inline-block;
  .boldfolio-field {
    padding: 0;
  }
  .boldfolio-label {
    font-weight: 700;
    display: inline;
  }
  .boldfolio-field-content,
  .boldfolio-field div {
    display: inline;
  }
}
